/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# rspec failure tracking
.rspec_status

# local configuration file
# WARNING: DO NOT EVER CHECK THIS FILE IN WITH REAL CREDENTIALS!
hammerhead.yml
hammerhead.yml.example

# To allow CI to rebuild each test run
Gemfile.lock
